In [4]:
colors =['Red', 'Green', 'Yellow', 'Blue', "White", 'Black']
for color in colors:
    print(color)

Red
Green
Yellow
Blue
White
Black

for loop syntax
for temp_var in iterable:
statement 1
statement 2
...

In [3]:
for color in colors:
    size = len(color)
    print(f'{color:10}{size} chars')

Red       3 chars
Green     6 chars
Yellow    6 chars
Blue      4 chars
White     5 chars
Black     5 chars

In [5]:
for color in colors:
    if 'e' in color:
        print(color)

Red
Green
Yellow
Blue
White

In [6]:
raw_data=['Alex','Rahul','Sonu','','Raj', 'Rohan', '', '']
for name in raw_data:
    print(name)

Alex
Rahul
Sonu

Raj
Rohan

In [7]:
for name in raw_data:
    if len(name)>0:
        print(name)

Alex
Rahul
Sonu
Raj
Rohan

In [8]:
for name in raw_data:
    if not name:
        continue
    print(name)

Alex
Rahul
Sonu
Raj
Rohan

In [2]:
numbers = [2, 4, 6, 8, 34, 68, 299, 209, 402, 212, 859]
for i in numbers:
    if i % 2 != 0:
        break
    print(i)

2
4
6
8
34
68

In [3]:
#Aggregation
total = 1
for i in numbers:
    total *= i
    print(total) #To display step by step
print(total) # To display overall answer at once

2
8
48
384
13056
887808
265454592
55480009728
22302963910656
4728228349059072
4061548151841742848
4061548151841742848

In [20]:
msg = 'This is a simple message with few words'
count = 0
for char in msg:
    if char == ' ':
        count += 1
print(f'{count} spaces found')

7 spaces found

In [21]:
msg.count(' ')

7

In [24]:
books=['The final Empire', 'The well of ascesion','The hero of ages']
for book in books:
 print(book)

The final Empire
The well of ascesion
The hero of ages

In [26]:
idx = 0
for book in books:
    print({f'{idx} {book}'})
    idx += 1

{'0 The final Empire'}
{'1 The well of ascesion'}
{'2 The hero of ages'}

In [27]:
#Better
for i in range(len(books)):
    print(f"{i} {books[i]}")

0 The final Empire
1 The well of ascesion
2 The hero of ages

In [30]:
#Pythonic
for idx, book in enumerate(books):
    print(f"{idx} {book}")

0 The final Empire
1 The well of ascesion
2 The hero of ages

In [3]:
names = [
    'Alex', 'Alexa', 'Alesis','Alexendar'
    'Bruno', 'Brutus','Charles', 'Charlie'
]

for i, name in enumerate(names):
  if i == 5: break
  print(name)

Alex
Alexa
Alesis
AlexendarBruno
Brutus