- Create
- Indexing and slicing
- Methods
- Basic operations

In [1]:
x = [ ] #Empty list
a = [1, 2,34, 5, 6] #Numerical List
b = ['alex', 'alexa', 'alexis'] #text list
c = ['alex', 12, 'alexa', 17,'alexis', 20] # Mixed List
d = [[1,2],[3,4],[1,6,7,8]] #Nested List
e = [[1,2],[3,4],[1,6]] #Nested List of Equal Length

In [2]:
w1 = [1]*10 #List Duplication
print(w1)
 
w2 =[1,2,6]*3
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 6, 1, 2, 6, 1, 2, 6]

In [3]:
a = [1,2,3,4]
b = [4,6,8,10] #List Contatination
c = a + b
print(c)

d = [a, b] #Nested List
print(d)

[1, 2, 3, 4, 4, 6, 8, 10]
[[1, 2, 3, 4], [4, 6, 8, 10]]

In [4]:
'One for all'.split() #Split string into list

['One', 'for', 'all']

In [5]:
x = [1,3,5,6,8,4,8,4,2,1,7,9]
print(x[:3])
print(x[-4:])
print(x[3:-3])
print(x)
print(x[::-1])
print(x[::2])
print(x[1::2])

[1, 3, 5]
[2, 1, 7, 9]
[6, 8, 4, 8, 4, 2]
[1, 3, 5, 6, 8, 4, 8, 4, 2, 1, 7, 9]
[9, 7, 1, 2, 4, 8, 4, 8, 6, 5, 3, 1]
[1, 5, 8, 8, 2, 7]
[3, 6, 4, 4, 1, 9]

In [6]:
print(x[0]) #First element
print(x[-1]) #Last element

1
9

In [7]:
#Traversal
for i in x:
    print(i)

1
3
5
6
8
4
8
4
2
1
7
9

Methods
- Add
    - append
    - extend
    - insert
- Remove
    - remove
    - pop
    - clear
- Helper
    - index
    - count
    - sort
    - reverse
    - copy

In [8]:
books = []
books.append('The Final Empire')
books.append('The Well of ascesion')
books.append('The Hero of ages')
books.append('Warbreaker')
print(books)

['The Final Empire', 'The Well of ascesion', 'The Hero of ages', 'Warbreaker']

In [9]:
books.insert(1, 'The Way of Kings')
books.insert(4, 'Words of Radiance')
print(books)

['The Final Empire', 'The Way of Kings', 'The Well of ascesion', 'The Hero of ages', 'Words of Radiance', 'Warbreaker']

In [10]:
crappy_books = [
    'Twilight Saga: New Moon ',
    'Twilight Saga: Eclipse ',
    'The Wheel of Time ',
    'THe Great Hunt ',
]
print(crappy_books)

['Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ']

In [11]:
books.extend(crappy_books)
print(books)

['The Final Empire', 'The Way of Kings', 'The Well of ascesion', 'The Hero of ages', 'Words of Radiance', 'Warbreaker', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ']

In [12]:
nums = [1,3,46,7]
more_nums = [3,6,8,9]
nums.extend(more_nums)
print(nums)

[1, 3, 46, 7, 3, 6, 8, 9]

In [13]:
num_matrix = [nums, nums, nums]
print(num_matrix)

[[1, 3, 46, 7, 3, 6, 8, 9], [1, 3, 46, 7, 3, 6, 8, 9], [1, 3, 46, 7, 3, 6, 8, 9]]

In [14]:
all_num = nums + more_nums
print(all_num)

[1, 3, 46, 7, 3, 6, 8, 9, 3, 6, 8, 9]

In [15]:
u = []
for i in range (5):
    x = input('Enter the number')
    a = u.append(x)
print(u)

['6', '6', '6', '65', '4']

In [17]:
u = []
for i in range(5):
    x = int(input('Enter numbers: '))
    a = u.append(x)
    print(u)
    s = sum(u)    
    print(f'Total: {s}')

[5]
[5, 6]
[5, 6, 7]
[5, 6, 7, 4]
[5, 6, 7, 4, 3]
Total: 25

In [ ]:
books.remove('The Wheel of Time')

In [ ]:
def safe_remove(val_to_remove):
 if val_to_remove in books:
    books.remove(val_to_remove)
    print(f'✅ {val_to_remove} removed from list')
 else:
    print(f'❌ Not found')

In [ ]:
safe_remove('The Hero of ages')

✅ The Hero of ages removed from list

In [ ]:
books

['The Final Empire',
 'The Way of Kings',
 'The Way of Kings',
 'The Way of Kings',
 'Words of Radiance',
 'The Well of ascesion',
 'Twilight Saga: New MoonTwilight Saga: EclipseThe Wheel of TimeTHe Great Hunt',
 'Twilight Saga: New Moon',
 'Twilight Saga: Eclipse',
 'THe Great Hunt',
 'Twilight Saga: New Moon ',
 'Twilight Saga: Eclipse ',
 'The Wheel of Time ',
 'THe Great Hunt ',
 'Twilight Saga: New Moon ',
 'Twilight Saga: Eclipse ',
 'The Wheel of Time ',
 'THe Great Hunt ']

In [ ]:
books.pop() # Removes last element

'THe Great Hunt '

In [ ]:
output = books.pop(1) # Remove element at index 1
print(output)
print(books)

The Way of Kings
['The Final Empire', 'The Way of Kings', 'The Way of Kings', 'Words of Radiance', 'The Well of ascesion', 'Twilight Saga: New MoonTwilight Saga: EclipseThe Wheel of TimeTHe Great Hunt', 'Twilight Saga: New Moon', 'Twilight Saga: Eclipse', 'THe Great Hunt', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ']

In [20]:
x = ['a1','b2','a1','b2','b3','b']
print(x.count('a1'))
print(x.count('a2'))
print(x.count('b2'))

2
0
2

In [24]:
x.sort()
print(x)
x.sort(reverse=True)
print(x)

['a1', 'a1', 'b', 'b2', 'b2', 'b3']
['b3', 'b2', 'b2', 'b', 'a1', 'a1']

In [25]:
a = [1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [27]:
words = ['app','apple','avocado','aeroplane','association']
words.sort()
print(words)
words.sort(reverse=True)
print(words)
words.sort(key=len)
print(words)
words.sort(key=len, reverse=True)
print(words)

['aeroplane', 'app', 'apple', 'association', 'avocado']
['avocado', 'association', 'apple', 'app', 'aeroplane']
['app', 'apple', 'avocado', 'aeroplane', 'association']
['association', 'aeroplane', 'avocado', 'apple', 'app']

In [28]:
words

['association', 'aeroplane', 'avocado', 'apple', 'app']

In [30]:
words.index('app') #Displays the index first occurence of the given element

4

In [31]:
word_copy1 = words #Copy by reference
word_copy2 = words.copy() #Copy by value

In [32]:
word_copy1 is words

True

In [33]:
word_copy2 is words

False

In [34]:
x = [1,2,3]
y = x #Copy by reference
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [35]:
x = [1,2,3,4]
y = x.copy() #Copy by value 
y.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4, 4]

Generating a list of numbers from existing list

In [37]:
x = [1,2,3,4]
y = []
for i in x:
    s = i**2
    y.append(s)
print(y)

[1, 4, 9, 16]

- List Comprehension
Syntax:
'''
new_list = [Operation for item in list]
'''
- List Comprehension with Condition
Syntax: 
'''
new_list = [oeration from item in list if  epression]
'''

In [39]:
y = [i**2 for i in x]
print(y)

[1, 4, 9, 16]

In [40]:
a = [1,2,3,4,6,3,7,9,6,5,32]
a_odd = [i for i in a if i % 2 != 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 6, 3, 7, 9, 6, 5, 32]
[1, 3, 3, 7, 9, 5]

In [41]:
a = [1,2,3,4,6,3,7,9,6,5,32]
a_even = [i**3 for i in a if i % 2 == 0]
print(a)
print(a_even)

[1, 2, 3, 4, 6, 3, 7, 9, 6, 5, 32]
[8, 64, 216, 216, 32768]