- Create
- Indexing and slicing
- Methods
- Basic operations

In [ ]:
x = [ ] #Empty list
a = [1, 2,34, 5, 6] #Numerical List
b = ['alex', 'alexa', 'alexis'] #text list
c = ['alex', 12, 'alexa', 17,'alexis', 20] # Mixed List
d = [[1,2],[3,4],[1,6,7,8]] #Nested List
e = [[1,2],[3,4],[1,6]] #Nested List of Equal Length

In [3]:
w1 = [1]*10 #List Duplication
print(w1)
 
w2 =[1,2,6]*3
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 6, 1, 2, 6, 1, 2, 6]

In [7]:
a = [1,2,3,4]
b = [4,6,8,10] #List Contatination
c = a + b
print(c)

d = [a, b] #Nested List
print(d)

[1, 2, 3, 4, 4, 6, 8, 10]
[[1, 2, 3, 4], [4, 6, 8, 10]]

In [9]:
'One for all'.split() #Split string into list

['One', 'for', 'all']

In [1]:
x = [1,3,5,6,8,4,8,4,2,1,7,9]
print(x[:3])
print(x[-4:])
print(x[3:-3])
print(x)
print(x[::-1])
print(x[::2])
print(x[1::2])

[1, 3, 5]
[2, 1, 7, 9]
[6, 8, 4, 8, 4, 2]
[1, 3, 5, 6, 8, 4, 8, 4, 2, 1, 7, 9]
[9, 7, 1, 2, 4, 8, 4, 8, 6, 5, 3, 1]
[1, 5, 8, 8, 2, 7]
[3, 6, 4, 4, 1, 9]

In [15]:
print(x[0]) #First element
print(x[-1]) #Last element

1
9

In [16]:
#Traversal
for i in x:
    print(i)

1
3
5
6
8
4
8
4
2
1
7
9

Methods
- Add
    - append
    - extend
    - insert
- Remove
    - remove
    - pop
    - clear
- Helper
    - index
    - count
    - sort
    - reverse
    - copy

In [18]:
books = []
books.append('The Final Empire')
books.append('The Well of ascesion')
books.append('The Hero of ages')
books.append('Warbreaker')
print(books)

['The Final Empire', 'The Well of ascesion', 'The Hero of ages', 'Warbreaker']

In [21]:
books.insert(1, 'The Way of Kings')
books.insert(4, 'Words of Radiance')
print(books)

['The Final Empire', 'The Way of Kings', 'The Way of Kings', 'The Way of Kings', 'Words of Radiance', 'The Well of ascesion', 'The Hero of ages', 'Warbreaker']

In [26]:
crappy_books = [
    'Twilight Saga: New Moon ',
    'Twilight Saga: Eclipse ',
    'The Wheel of Time ',
    'THe Great Hunt ',
]
print(crappy_books)

['Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ']

In [28]:
books.extend(crappy_books)
print(books)

['The Final Empire', 'The Way of Kings', 'The Way of Kings', 'The Way of Kings', 'Words of Radiance', 'The Well of ascesion', 'The Hero of ages', 'Warbreaker', 'Twilight Saga: New MoonTwilight Saga: EclipseThe Wheel of TimeTHe Great Hunt', 'Twilight Saga: New Moon', 'Twilight Saga: Eclipse', 'The Wheel of Time', 'THe Great Hunt', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ']

In [30]:
nums = [1,3,46,7]
more_nums = [3,6,8,9]
nums.extend(more_nums)
print(nums)

[1, 3, 46, 7, 3, 6, 8, 9]

In [31]:
num_matrix = [nums, nums, nums]
print(num_matrix)

[[1, 3, 46, 7, 3, 6, 8, 9], [1, 3, 46, 7, 3, 6, 8, 9], [1, 3, 46, 7, 3, 6, 8, 9]]

In [33]:
all_num = nums + more_nums
print(all_num)

[1, 3, 46, 7, 3, 6, 8, 9, 3, 6, 8, 9]

In [1]:
u = []
for i in range (5):
    x = input('Enter the number')
    a = u.append(x)
print(u)

['5', '6', '7', '8', '4']

In [55]:
u = []
for i in range(5):
    x = int(input('Enter numbers: '))
    a = u.append(x)
    print(u)
    s = sum(u)    
print(f'Total: {s}')

[6]
6
[6, 5]
11
[6, 5, 4]
15
[6, 5, 4, 8]
23
[6, 5, 4, 8, 2]
25

In [47]:
books.remove('The Wheel of Time')

In [52]:
def safe_remove(val_to_remove):
 if val_to_remove in books:
    books.remove(val_to_remove)
    print(f'✅ {val_to_remove} removed from list')
 else:
    print(f'❌ Not found')

In [54]:
safe_remove('The Hero of ages')

✅ The Hero of ages removed from list

In [56]:
books

['The Final Empire',
 'The Way of Kings',
 'The Way of Kings',
 'The Way of Kings',
 'Words of Radiance',
 'The Well of ascesion',
 'Twilight Saga: New MoonTwilight Saga: EclipseThe Wheel of TimeTHe Great Hunt',
 'Twilight Saga: New Moon',
 'Twilight Saga: Eclipse',
 'THe Great Hunt',
 'Twilight Saga: New Moon ',
 'Twilight Saga: Eclipse ',
 'The Wheel of Time ',
 'THe Great Hunt ',
 'Twilight Saga: New Moon ',
 'Twilight Saga: Eclipse ',
 'The Wheel of Time ',
 'THe Great Hunt ']

In [57]:
books.pop() # Removes last element

'THe Great Hunt '

In [58]:
output = books.pop(1) # Remove element at index 1
print(output)
print(books)

The Way of Kings
['The Final Empire', 'The Way of Kings', 'The Way of Kings', 'Words of Radiance', 'The Well of ascesion', 'Twilight Saga: New MoonTwilight Saga: EclipseThe Wheel of TimeTHe Great Hunt', 'Twilight Saga: New Moon', 'Twilight Saga: Eclipse', 'THe Great Hunt', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ', 'THe Great Hunt ', 'Twilight Saga: New Moon ', 'Twilight Saga: Eclipse ', 'The Wheel of Time ']

In [2]:
x.clear()
print(x)

[]