# Things to learn
- create strings
- indexing and slicing
- string methods
   - formatting mrthods
   - validation methods
   - utility methods
- python built- in functions for strings
  - len()
  - str()
  - ord()
  - chr()
  - eval()

String Creation

In [1]:
#String Creation
my_string="Hello"
print(my_string)

Hello

In [2]:
my_string='Hello'
print(my_string)

Hello

In [3]:
# "''" for adding multiple lines
my_string="'Hello'"
print(my_string)

'Hello'

In [4]:
# "''" for adding multiple lines
my_string="""Hello, welcome 
          to the world
          of python"""
print(my_string)

Hello, welcome
          to the world
          of python

Indexing

In [5]:
x ='sophomore'
print('str=',x)

str= sophomore

Accessing Strings

In [6]:
#first character
print('x[0]=',x[0])

x[0]= s

In [7]:
#Second character
print('x[1]=',x[1])

x[1]= o

In [8]:
#Last character
print('x[-1]=',x[-1])

x[-1]= e

In [9]:
x ='Hello World, WELCOME TO Python '
print('str=',x[10])

str= d

SLICING

In [10]:
x ='sophomore'
slice1 = x[4:7]
print(slice1)

omo

In [11]:
name = 'Vijay Deenanath Chauhan'
name[4:10]

'y Deen'

In [12]:
name = 'Vijay Deenanath Chauhan'
name[16:25]

'Chauhan'

In [13]:
price = 'Rs.35000 only'
print(int(price[3:-5]))
print(int(price[3:3+5]))

35000
35000

In [14]:
word = "William Shakespeare"
print(word[:8])
print(word[-5:-1])
print(word[-6:-1])
print(word[8:])
print(word[8:14])

William
pear
spear
Shakespeare
Shakes

Slicing Syntax: 

- var[start:stop]
- var[sart:stop:step]

In [15]:
word[:7:2] #start to 6, jump 2 indexes at every step

'Wlim'

In [16]:
word[::2]

'WlimSaepae'

In [17]:
# Reverse a String
word[::-1]

'eraepsekahS mailliW'

In [18]:
name[:5:][::-1][:]

'yajiV'

Fuctions

In [19]:
# For extracting characters from its numerical Value
x = chr(8090)
print(x)

á¾š

In [20]:
#Display numerical value of character
y =ord('A')
print(y)

65

In [21]:
# Length of string
print(len("Amazing"))
size =len("hope")
print(size)

7
4

In [22]:
#Concatination 
'Hi'+ 'There'

'HiThere'

In [23]:
#Duplication
'@' * 5

'@@@@@'

In [24]:
#identifies the type of data and applies the particular opratiopn applied
x = 10
y = 20
operation ="x+y"
print(eval(operation))

30

In [29]:
op1 = input("Enter x and y: ")
eval(op1)

56