In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### What you need to learn
- loading data
- selection
    - cols
    - rows
- manipulation
    - add column
    - remove coloumn
    - rename columns
    - change data type
    - delete data
    - remove duplicates
    - sort
    - group
    - pivot
    - merge
- Visualisation
    - line plot
    - bar plot
    - histogram
    - box plot
    - scatter plot
    - pie chart
    - heatmap
    - word cloud

In [3]:
penguins = sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

- analysis
    - univariate analysis
    - bi- variate analysis
    - multi- variate analysis

- Loading Data
    - custom data in a variable
    - excel data
    - csv / json /etc
    - database(sql)

In [4]:
students = {
    'name' : ['Vaibhav','Siya','Aman','Amjad','Sneha','Aditi','Bhupendra'],
    'College':['SRMCEM','SRMCEM','KMC','KMC','CU','SRMCEM','SRMCEM'],
    'DOB': ['25 Jan','2 Feb','2 Apr','16 Aug','16 Sep','17 Dec','22 May']
}
sdf = pd.DataFrame(students)
sdf

        name College     DOB
0    Vaibhav  SRMCEM  25 Jan
1       Siya  SRMCEM   2 Feb
2       Aman     KMC   2 Apr
3      Amjad     KMC  16 Aug
4      Sneha      CU  16 Sep
5      Aditi  SRMCEM  17 Dec
6  Bhupendra  SRMCEM  22 May

In [ ]:
data = pd.read_excel('C:/Users/Hp/Downloads/Newdata.xlsx')
data

In [ ]:
data.info()

In [ ]:
data.columns.tolist()

In [ ]:
data['Items'] # Colmun selection

In [ ]:
data.amt

In [ ]:
data[['Items','amt']]

In [ ]:
data['amt']*data['qty']

- Adding Columns

In [ ]:
data['total']=data['amt']*data['qty']
data

In [ ]:
data['crap']='some crap'
data

- Removing Comuns

In [ ]:
data.drop(columns=['crap'],inplace=True) #inplace = True to make changes permanent in the dataframe
data

In [ ]:
data.iloc[0]

In [ ]:
data.iloc[:2] #first two rows

In [ ]:
data.drop(index=[0,2])

In [ ]:
data

In [ ]:
sdf

In [ ]:
sdf.drop(index=[5,6],inplace=True)
sdf

In [ ]:
data['qty']-10

In [ ]:
data['qty']=data['qty']-10
data

In [ ]:
data.columns.tolist()

In [ ]:
data.rename(
    mapper={'Items':'Product',
            'qty':'Quantity',
            'amt':'Price',
            'total':'Expenditure'},
    axis=1,
    inplace=True
)
data

- Operations
    - delete items
        - column
        - indexes
    - remove duplicates
    - sort
    - group
    - pivot
    - merge

In [ ]:
penguins.columns.tolist()

In [ ]:
penguins.drop(columns='body_mass_g')

In [ ]:
penguins

In [ ]:
penguins.drop(columns=['island','body_mass_g'])

In [ ]:
penguins.drop(index=2) #drop row 3rd

In [ ]:
penguins.drop(index=[0,1,2,3,4]) # drop multiple rows

In [ ]:
penguins.drop(index=range(10)) # drop multiple rows using range

In [ ]:
np.nan

- find out the missing number of values in each cplumn

In [ ]:
penguins.isnull().sum()

In [ ]:
sns.heatmap(penguins.isnull(),cbar=False)# overall null value visualisation

In [ ]:
penguins.isnull().sum().plot(kind='bar') #column wise null value visualisation

removing missing values(nana values)

In [ ]:
penguins.dropna() # drop rows with null values

In [ ]:
penguins.shape

In [ ]:
penguins.dropna().shape # dropped null valued columns

In [ ]:
penguins.drop_duplicates(subset=['bill_length_mm'])

In [ ]:
penguins.sort_values(by='sex',ascending=True)

In [ ]:
penguins.sort_values(by=['sex','island'])

Data types in pandaas
- int
- float
- boolean
- string(not understood by pandas by default, unless you specify)
- object(if datatype is not understood by pandas then object is used)
- datetime

In [ ]:
penguins.info()

In [ ]:
penguins.dtypes # data types of columns

In [ ]:
penguins.select_dtypes(include='number')

In [ ]:
penguins.select_dtypes(include='object')

In [ ]:
penguins.select_dtypes(exclude='number') # select all column except numeric

change the type of column

In [ ]:
penguins['island'].astype('category') # not actually applied on the columns

In [ ]:
penguins.dtypes

In [ ]:
penguins.sex=penguins=penguins.sex.astype('bool')
penguins.head()

In [ ]:
penguins = sns.load_dataset('penguins')
penguins

Simple Visualization: - univariate
- for numerical data
    - line plot -> .plot()
    - bar plot -> .plot(kind = 'bar')
    - box plot -> .plot(kind = 'box')
    - bar plot -> .plot(kind = '')

In [ ]:
penguins.dtypes

In [ ]:
penguins['bill_depth_mm'].hist()

In [ ]:
penguins.columns

In [ ]:
penguins['bill_depth_mm'].plot(figsize=(15,5))

In [ ]:
penguins['bill_depth_mm'].plot(kind='area',figsize=(15,5))

In [ ]:
penguins['bill_depth_mm'].plot(kind='box',figsize=(15,5))

In [ ]:
penguins['bill_depth_mm'].plot(kind='box',figsize=(5,3),vert=False)

In [ ]:
penguins['island'].value_counts()

In [ ]:
penguins['island'].value_counts().plot(kind='bar')

Comparing univariate data in a single graph

In [ ]:
penguins[['bill_depth_mm','bill_length_mm']]

In [ ]:
penguins[['bill_depth_mm','bill_length_mm']].plot()

In [ ]:
penguins[['bill_depth_mm','bill_length_mm']].plot(kind='box',figsize=(15,5))

In [ ]:
penguins[['bill_depth_mm','bill_length_mm']].plot(layout=(1,2),
                               subplots=True,
                               figsize=(15,5))

the power of seaborn

In [ ]:
sns

In [ ]:
sns.displot(data=penguins,x='bill_depth_mm')

In [ ]:
sns.displot(data=penguins, x='bill_depth_mm',hue='island')

In [ ]:
sns.countplot(data=penguins,x='island')

In [ ]:
sns.countplot(data=penguins, x='island', hue='species')

bivariate analysis
- scatter plot (numeric vs numeric)
- violin plot(alternative to box plot)
- pair plot

In [ ]:
sns.scatterplot(data=penguins,x='bill_length_mm',y='bill_depth_mm')

In [ ]:
sns.scatterplot(data=penguins,
                x='bill_length_mm',
                y='bill_depth_mm', 
                hue='species')

In [ ]:
sns.color_palette('rainbow')

In [ ]:
sns.color_palette('cool')

In [ ]:
sns.set_palette('rainbow_r')

In [ ]:
sns.scatterplot(data=penguins,
                x='bill_length_mm',
                y='bill_depth_mm',
                  hue='island',
                  palette='hot')

In [ ]:
penguins.dtypes

In [ ]:
sns.relplot(data=penguins,
            x='bill_length_mm',
            y='bill_depth_mm',
            hue="island", 
            style="species",
)